@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.fluid-heading {
  font-size: clamp(48px, 8vw, 96px);
  line-height: 1.05;
}

.fluid-heading-sm {
  font-size: clamp(36px, 5vw, 64px);
  line-height: 1.1;
}
